/* --- 1. CONFIGURAÇÕES GLOBAIS E NOVA PALETA --- */
:root {
  --primary-color: #007bff; /* Azul vibrante para ações */
  --primary-hover: #0056b3;
  --text-dark: #212529; /* Tom de texto principal */
  --text-light: #f8f9fa; /* Tom de texto para fundos escuros */
  --header-bg: #212529; /* ✨ NOVO: Fundo escuro para header/footer */
  --border-light: #e9ecef;
  --bg-light: #cacaca;
  --brand-color: #ff9100;
  --success-color: #3874cf;
  --success-bg: #e9f7ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

h1 span {
  color: var(--brand-color);
}

img {
  width: 80%;
  border-radius: 16px;
  margin: auto;
}

.text {
  width: 100%;
  text-align: left;
}

.btn {
  background-color: var(--success-color);
  color: var(--text-light);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  margin: 1rem auto;
  border-radius: 100px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--primary-hover);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #ebebeb;
  border-top: 3px solid #15283d;
  width: 100%;
  background-color: var(--text-dark);
}

.footer-disclaimer {
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-links a:focus {
  text-decoration: none;
  color: var(--bg-light);
  font-weight: 400;
}

footer p {
  font-size: 0.75rem;
}

/* --- 6. RESPONSIVIDADE --- */
@media (max-width: 768px) {
  .container {
    margin: 0;
    border-radius: 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  img {
    width: 100%;
  }
}
